<h1>Welcome {{username}}</h1>

<div id="form_div">
  <form action="/login" method="get">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
  </form>
<div>

<div id="image_div">
  <img src="raccoon.jpg">
</div>
